<div class="meter-table-container">
    <button type="button" class="btn-close btn-meter-close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')"></button>
    <table class="table table-sm meter-table">
        <thead>
            <tr>
                <th colspan="2" class="head">Westbound</th>
                <th colspan="2" class="head border-left">Eastbound</th>
            </tr>
            <tr>
                <th class="head">Metres</th>
                <th class="head">Feet</th>
                <th class="head border-left">Metres</th>
                <th class="head">Feet</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" class="line" *ngFor='let levelPair of getEastWest();'>
                <td (click)="showLevel(levelPair.west, content)" class="cell">{{levelPair.west.meter}}</td>
                <td (click)="showLevel(levelPair.west, content)" class="cell border-left">{{levelPair.west.feet}}
                </td>
                <td (click)="showLevel(levelPair.east, content)" class="cell border-left">{{levelPair.east.meter}}
                </td>
                <td (click)="showLevel(levelPair.east, content)" class="cell border-left">{{levelPair.east.feet}}
                </td>
            </tr>
        </tbody>
    </table>
</div>



<ng-template #content let-modal>
    <div class="show-meter-dialog">
        <table class="table show-meter-table">
            <tr class="head-row show-row">
                <th class="head">Metres</th>
                <th class="head">Feet</th>
            </tr>
    
            <tr scope="row" class="line" class="show-row">
                <td class="show-col cell">{{selectedLevel.meter}}</td>
                <td class="show-col cell">{{selectedLevel.feet}}</td>
            </tr>
        </table>
    </div>
    
</ng-template>