<div class="input-field">
    <fieldset  [style.width]="width" [style.min-width]="minWidth" [class.caution]="caution"
    [class.warning]="warning" (click)="clicked(p)" [class.input-display-readonly]="!edit && !req">
    <legend>{{label}}<span *ngIf="req">*</span></legend>
    <input class="form-control input-display" [value]="getTime()" readonly placeholder="{{hint}}">
</fieldset>
<div [ngbPopover]="popContent" [autoClose]="'outside'" #p="ngbPopover" popoverClass="time-pop"></div>
</div>

<ng-template #popContent>
    <div class="time-picker">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    </div>
    <hr class="my-0">
    <div class="time-picker-buttons">
        <button class="btn btn-primary btn-sm m-2" (click)="setNow()">Now</button>
        <button class="btn btn-primary btn-sm m-2" *ngIf="!req"
            (click)="time = null; changed(); p.close()">Clear</button>
        <button class="btn btn-secondary btn-sm m-2" (click)="changed(); p.close()">Set</button>
    </div>
</ng-template>