.input-field {
    margin-top: 12px;
    margin-bottom: 5px;
    width: 100%;
    min-width: fit-content;
    text-align: left;
    cursor: pointer;

    label {
        font-size: 1.1rem;
    }

    /* Data Field Label */
    legend {
        position: relative;
        top: -12px;
        left: 5px;
        width: fit-content;
        height: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        font-size: 0.7rem;
        z-index: 100;
    }

    .input-display {
        //border: 0;
        border-radius: 10px;
        position: relative;
        top: -30px;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 1px;
        margin-bottom: -30px;
        font-size: 1rem;
        z-index: 1;
        cursor: pointer;
    }
    
    .number {
        text-align: right;
    }

    .text {
        text-align: left;
    }

    .center-text {
        text-align: center;
    }

    .has-prefix {
        border-left: 0px;
    }

    .input-display-prefix {
        position: relative;
        top: -30px;
        border-radius: 10px;
        border-right: 0px;
        margin-bottom: -30px;
        font-size: 0.8rem;
    }

    .input-display-sufix {
        position: relative;
        top: -30px;
        border-radius: 10px;
        border-left: 0px;
        
        margin-bottom: -30px;
        font-size: 0.8rem;
    }

    .sufix-image {
        width: 18px;
        margin-left: -5px;
        margin-right: -5px;
    }
}

.card {
    margin-bottom: 10px !important;
    .card-header {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        font-size: 0.9rem;
    }

    .card-body {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .card-footer {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}

.select {
    width: 100%;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 20px;
}

.time-picker-component,
.time-pop {
    margin: -15px;

}

.input-upper {
    text-transform: uppercase;
}

.time-pop {
    touch-action: none;

    .time-picker {

        padding-left: 30px;
        padding-right: 30px;
    }

    .time-picker-buttons {
        text-align: center;
    }
}

.waypoint-display {
    .day-icon {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .medium-text {
        font-size: 0.9rem;
    }

    .small-text {
        font-size: 0.8rem;
    }
}

.waypoint-pop {
    top: 4%;
    .modal-body, .modal-header {
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .value-diff {
        font-size: 0.7rem;
    }

    .time-display {
        font-size: 0.9rem;
    }

    .fuel-display {
        font-size: 0.9rem;
    }
    .btn-wpt {
        width: 100%;
        font-size: 0.7rem;
        margin-top: -5px;
        margin-bottom: -20px;
    }

    .dialog-button {
        margin-top: -15px;
    }
}