.page-header {
    display: inline-flex;
    width: 100%;
    height: 35px;
    margin-bottom: 3px;

    .page-title {
        width: 100%;
        height: fit-content;
        text-align: center;
        z-index: 9;
        font-size: 1.2rem;
    }

    .floating-button {
        float: right;
        position: relative;
        top: 5px;
        right: 10px;
        border-radius: 50px;
        z-index: 999;
        height: 40px;
        width: 40px;

        .floating-button-image {
            position: relative;
            left: -8px;
            top: -2px;
            height: 30px;
            width: 30px;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;

    /* Key design for very small screen */
    @media only screen and (max-width : 350px) {
        padding-right: 2px;
        padding-left: 2px;
    }
}

.flight-display {
    .scroll-navigation {
        height: 360px;
        overflow-y: scroll;
    }


    .btn-flat {
        height: 25px;
        font-size: 0.8rem;
    }

    /* Key design for very small screen */
    @media only screen and (max-width : 768px) {
        // Class starts with 'col-'
        [class^='col-'] {
            padding-right: 3px;
            padding-left: 3px;
        }
        .col {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}

.flight-init {
    .btn {
        min-width: 100%;
    }
}

.hidden-input {
    visibility: hidden;
}

.meter-table-container {
    min-height: calc(100vh - 45px);

    // Ipad screen //
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        min-height: calc(100vh - 80px);
    }

    .btn-meter-close {
        position: absolute;
        top: 5px;
        right: 2px;
    }

    .meter-table {
        position: relative;
        top: 35px;
    }

    .head {
        font-size: 0.8rem;
        text-align: center;
        padding: 0px !important;
        border: 0px;
    }

    .cell {
        font-size: 1.4rem;
        text-align: center;
        padding: 1px !important;
    }

    .border-left {
        border-left: 1px;
        border-left-style: solid;
    }
}

.show-meter-dialog {
    .show-meter-table {
        th,
        tr {
            text-align: center;
            font-size: 2rem;
        }
    }
}

.show-dg-container {
    .btn-close {
        position: absolute;
        top: 8px;
        right: 5px;
    }
}

.techlog-pop {
    text-align: center;

    .fuel-input-row {
        margin-top: 7px;
        margin-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.dialog-button {
    width: 120px;
}
