<div class="container about">
    <h3 [align]="'center'">Welcome to eFlight</h3>

    <h5>NOTE:</h5>
    <p>Recently some pilots had the access to this aplication restricted on the company iPad.</p>
    <p>In order to keep the aplication working the site will periodicaly move the aplication to a diferent address. 
        The new address will be published on my website <a href="https://rietlabs.com/" target="_blank">https://rietlabs.com/</a>
    </p>
    <p>
        If the website is unreacheble, check the rietlabs webpage for the latest address.
    </p>
    <p>For information, feedback or other concerns, I can be contacted on my 
        <a href="https://www.linkedin.com/in/ricardorietcorrea" target="_blank">Linkedin profile</a></p>

    <p>If you wish to support the developer, you can leave a Endorsement or Recommendation on my Linkedin. </p>

    <h5>Summary</h5>
    <p>
        eFlight was created to test the possible integration between the conventional 
        flight plan and existing EBF applications.
    </p>
    <p [align]="'center'">
        <b>WARNING: eFlight is not to be used for real flight operations.</b>
    </p>

    <h5>Instructions</h5>
    <a href="https://youtu.be/m1jaqRHlnsA" target="_blank">Video Tutorial</a>


    <h5>Author</h5>
    <p>
        Ricardo Riet Correa
    </p>

    <h5>License</h5>
    <p>
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNUv3</a>
    </p>
    <h5>Source Code</h5>
    <p>
        The source code for this aplication can be found at
        <a href="https://github.com/rriet/eflight/" target="_blank">https://github.com/rriet/eflight/</a>
    </p>

    <h5>Other applications</h5>
    <p>
        Check my free logbook software at: <br><a href="https://sourceforge.net/projects/simplelog/files/latest/download" target="_blank"><img alt="Download SimpleLog" src="https://a.fsdn.com/con/app/sf-download-button" width=276 height=48 srcset="https://a.fsdn.com/con/app/sf-download-button?button_size=2x 2x"></a>
    </p>

    <h5>Disclaimer</h5>
    <p>
        The material and information contained on this website is for general information purposes only.
    </p>
    <p>
        Any information here presented is NOT FOR OPERATIONAL USE. By entering this website you agree
        not to use any information during flight operations.
    </p>
    <p>
        The applications in this website are provided as is, and no guarantee is given that this code will preform in
        the desired way.
        The developer takes no responsibility for any loss or damage that may result from accessing or reliance on
        content on the Website.
    </p>
    <p>
        Although every effort is made to keep the website up and running smoothly, due to the nature of the Internet and
        the technology involved,
        the developer takes no responsibility for and will not be liable for the website being temporarily unavailable
        or for any loss or damage suffered as a result of the use of or access to, or inability to use or
        access this website whatsoever.
    </p>
</div>