<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-3">
                Cruise
            </div>
            <div class="col-6">
                To: {{_flight.to}}
            </div>
            <div class="col">
                LT: {{arrivalTimeNow|toHours}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <app-date [dateInt]="_flight.dateArrivalLocal" label="Arrival Date (Loca)" [edit]="false"></app-date>
            </div>
            <div class="col">
                <app-text [value]="_flight.number" label="Flight Number" [center]="true" [edit]="false"></app-text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-time [(time)]="_flight.timeTakeoff" label="Take-off"></app-time>
            </div>
            <div class="col">
                <app-time [(time)]="_flight.timeTrip" label="Flight Time"></app-time>
            </div>
            <div class="col">
                <app-time [time]="_flight.timeTod" label="TOD" [edit]="false"></app-time>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-time [time]="_flight.timeSta" [label]="_flight.revStd ? 'Revised STA' : 'STA'" [edit]="false"></app-time>
            </div>
            <div class="col">
                <app-time [time]="_flight.timeInflightEta" label="ETA" [edit]="false"></app-time>
            </div>
            <div class="col">
                <app-time [time]="_flight.timeInflightEtaLocal" label="ETA (Local)" [edit]="false"></app-time>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-number [value]="_flight.fuelEstimatedArrival" label="Arr Fuel" [edit]="false"></app-number>
            </div>
            <div class="col">
                <app-number [(value)]="_flight.mlwt" label="MLWT" [int]=true [req]="true" [clickable]="false"
                    [caution]="_flight.ldwMargin < 1000" [warning]="_flight.ldwMargin < 100"></app-number>
            </div>
            <div class="col">
                <app-number [value]="_flight.lwt" label="LWT" [edit]="false" [clickable]="false"
                    [caution]="_flight.mlwt - _flight.lwt < 1000" [warning]="_flight.mlwt - _flight.lwt < 500">
                </app-number>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{_flight.from}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Sunrise: {{_flight.fromAirport.sunrise | toHours}}
            </div>
            <div class="col">
                Sunset: {{_flight.fromAirport.sunset | toHours}}
            </div>
        </div>
        <div *ngFor="let sunSets of _flight.sunRiseSet; let i = index;">
            <hr>
            <div class="row">
                <div class="col">
                    <div *ngIf="!sunSets.isDay">
                        Sunrise time: {{sunSets.time | toHours}}<br>
                        {{sunSets.lat | latToStr}} /
                        {{sunSets.lon | lonToStr}} </div>
                    <div *ngIf="sunSets.isDay">
                        Sunset time: {{sunSets.time | toHours}}<br>
                        {{sunSets.lat | latToStr}} /
                        {{sunSets.lon | lonToStr}} </div>
                </div>
                <div class="col">
                    Sea Level
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{_flight.to}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Sunrise: {{_flight.toAirport.sunrise | toHours}}
            </div>
            <div class="col">
                Sunset: {{_flight.toAirport.sunset | toHours}}
            </div>
        </div>

    </div>
</div>