<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                Cruise
            </div>
            <div class="col">
                To: {{_flight.to}}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <app-time [(time)]="_flight.timeTakeoff" label="Take-off"></app-time>
            </div>
            <div class="col">
                <app-time [(time)]="_flight.timeTrip" label="Flight Time"></app-time>
            </div>
            <div class="col">
                <app-time [time]="_flight.timeTod" label="TOD" [edit]="false"></app-time>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-time [time]="_flight.timeSta" label="STA" [edit]="false"></app-time>
            </div>
            <div class="col">
                <app-time [(time)]="_flight.timeEta" label="ETA"></app-time>
            </div>
            <div class="col">
                <app-time [time]="_flight.timeEtaLocal" label="ETA (Local)" [edit]="false"></app-time>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                Navigation
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm">
                    <input type="text" [(ngModel)]="waypointName" class="form-control input-upper" placeholder="WAYPOINT" >
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchWaypoint()"
                    [disabled]="this.waypointName.length < 2">Search</button>
                  </div>
            </div>
            <div class="col-1">

            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-sm" [class.btn-danger]="!interval"
                    [class.btn-success]="interval" (click)="toggleInterval()">
                        Auto
                </button>
            </div>
            
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="scroll-navigation">
                    <ul class="list-group">
                        <app-waypoint *ngFor="let waypoint of _flight.waypoints; let i = index;" [waypoint]="waypoint"
                            (click)="showWaypoint(waypoint)" id="{{waypoint.ctm}}"></app-waypoint>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>